############################################
# Python
############################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/

############################################
# ML artifacts
############################################
runs/

############################################
# Data (usually not committed)
############################################
data/
data_more/

############################################
# IDEs / Editors
############################################
.vscode/
.idea/
*.swp
*.swo
*~

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# Docs (generated output)
############################################
docs/build/
